# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/

# Build directories - on ignore tout...
build/
# ...SAUF le build web quand on veut le déployer
!build/web/
# Mais on ignore quand même les fichiers temporaires du build web
build/web/**.stamp
build/web/**.map
build/web/assets NOT_SHIPPED/

.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
